input:focus, button:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(85, 85, 85);
    height: 100vh; /* Use full viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    position: relative; /* Position relative to allow absolute positioning of nav */

    font-family: Arial, Helvetica, sans-serif;
}

body button {
    border: none; /* Remove white default border from all buttons */
 }

 a {
    text-decoration: none; /* Remove underline from links */
 }

/* Global input field styling */
input {
    background-color: #dadada;
    border: #505050 solid 2px;
    padding: 13px 15px;
    border-radius: 5px;
    margin-bottom: 10px; 
}

/* Global placeholder style */
input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: rgb(0, 0, 0);
  }


/*### Alert messages ###*/
.alert-messages {
    position: absolute;
    top: 50%;
    transform: translate(0, -400px);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

@keyframes hide-message {
    from {opacity: 1;}
    to {opacity: 0;}
}

.error-message, .success-message {
    animation: hide-message 0.5s 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes hide-wrong-message {
    from {opacity: 1;}
    to {opacity: 0;}
}

.wrong-message {
    animation: hide-wrong-message 0.5s 1;
    animation-delay: 10s; /* Change this delay to however long you want the wrong message to stay */
    animation-fill-mode: forwards;
}

.error-message {
    color: rgb(133, 31, 31);
    margin-top: 3px;
    padding: 5px 80px;
    background-color: #fd7c7c7e;
    border-radius: 5px;
    border: 2px solid rgba(202, 58, 58, 0.76);
}

.success-message {
    color: rgb(14, 102, 14);
    margin-top: 3px;
    padding: 5px 80px;
    background-color: rgba(104, 255, 104, 0.562);
    border-radius: 5px;
    border: 2px solid rgba(54, 175, 54, 0.842);
}

.wrong-message {
    color: rgb(109, 33, 33);
    margin-top: 3px;
    padding: 5px 80px;
    background-color: rgba(255, 99, 71, 0.7);
    border-radius: 5px;
    border: 2px solid rgba(255, 69, 0, 0.76);
}


/*### Nav Bar and everything about it ###*/
.nav {
    padding: 1rem;
    position: absolute; /* Position navigation bar absolutely */
    left: 0; /* Align to the left */
    top: 50%; /* Move it down to the middle of the screen */
    transform: translate(30%, -100%); /* Adjust position slightly to the right and vertically center it */
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.nav ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #f1f1f1;
    margin: 10px 0;
}

.nav ul li a:hover {
    background-color: #555;
    color: white;
}

/*### Content section in center of screen ###*/
.content {
    background-color: rgb(51, 127, 150);
    padding: 20px;
    border-radius: 5px;
    height: 500px; /* Ensure a minimum height */
    width: 850px;
    box-sizing: border-box; /* Include padding and border in width and height calculations */
    transform: translateY(-10%); /* Move content slightly upwards */
    box-shadow: .5em .5em 1em;
}

/*### Index page grid layout ###*/
.grid-container-index{
    display: grid;
    grid-template-columns: 180px ;
    gap: 15px;
    height: 100%;
}

.grid-container-index > div:nth-child(1) {
    grid-column: 1;
    justify-self: end;
}

.grid-container-index > div:nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}

.grid-container-index > div:nth-child(3) {
    grid-column: span 1;
    justify-self: end;
    align-self: end;
}

/*### Words saved number box ###*/
.word-count {
    height: 180px;
    width: 180px;
    background-image: linear-gradient(to right, #F4BB44 , #fdde9a);
    border-radius: 5px;
    border: #000 solid 1.5px;

    display: flex;             /* Enables flexbox layout */
    flex-direction: column;    /* Arranges children in a column */
    justify-content: center;   /* Centers children vertically */
    align-items: center;       /* Centers children horizontally */
    
    text-align: center;        /* Centers text horizontally */
}

.word-count h1 {
    margin: 0;
    padding: 0;
    font-size: 90px;
    color: #000;
    font-weight: lighter;
}

.word-count p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: #000;
}

.search-word input{
    margin-top: 30px;
}

/*### Display list of all words saved in db ###*/
.word-list {
    scrollbar-color: #8b4aa37c #428194;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    overflow-x: hidden;
    border-radius: 5px;
    height: 460px;
    background-color: rgb(74, 142, 163);
}

.word-list ul {
    list-style: none;
    margin: 10px 20px;
    padding: 0;
}

.word-list li {
    position: relative; /* Position the delete button correctly */
    padding: 10px;
    border-bottom: 1px solid #000;
    color: #000000;
    font-size: 1.2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.word-list li:hover {
    background-color: rgb(59, 113, 129);
}

.word-list li .english-word {
    width: 40%;
    text-align: left;
}

.word-list li .german-word {
    width: 40%;
    text-align: left;
    margin-left: auto;
}

.word-list li p {
    margin: 0;
}

.word-list a.word-link {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.word-list button {
    background-color: rgba(224, 22, 22, 0.65);
    color: black;
    border-radius: 2px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: 0.12s ease-in-out;
    margin-left: 10px;

    position: absolute;
    right: 10px; /* Aligns the button to the right of the list item */
    top: 50%; /* Centers the button vertically */
    transform: translateY(-50%);
    z-index: 1; /* Ensures the button is on top of the link */
}

.word-list button:hover {
    background-color: rgba(240, 29, 29, 0.85);
}

/*### Index page add word input box and button style ###*/
.add-word button{
    background-color: #45ad37;
    padding: 8px 76px;
    margin-top: 10px;
    border-radius: 3px;
    transition: 0.15s ease-in-out;
    cursor: pointer;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.add-word button:hover{
    background-color: #53cc43;
}

/*### Info page list style ###*/
.info-page ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.info-page ul li {
    padding: 10px;
    color: #000000;
    font-size: 1rem;
}

.info-page ul li:last-child {
    color: #8a0f0f;
}

/*### Practice page style ###*/
.grid-container-practice{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns, each 1 fraction unit */
    grid-template-rows: repeat(2, 230px); /* 2 rows, each 1 fraction unit */
}

/* This section is purely for corner rounding */
/*English*/
.grid-container-practice > a:nth-child(1) {
    border-radius: 5px 0 0 0;
}

/*Mix*/
.grid-container-practice > a:nth-child(3) {
    border-radius: 0 5px 0 0;
}

.grid-container-practice > a:nth-child(4) {
    border-radius: 0 0 0 5px;
}

/* Make last button take up 2 slots horizontally */
.grid-container-practice > a:nth-child(5) {
    grid-column: span 2;
    border-radius: 0 0 5px 0;
}

.grid-container-practice a {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow the button */
    color: #dadada; /* Set text color for better visibility */
    font-weight: bold;    

    display: flex; 
    justify-content: center;
    align-items: center;
}

.grid-container-practice a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.05;
    transition: opacity 0.15s ease-in-out;
    z-index: 0; /* Ensure the pseudo-element is behind the text */
}

/* Specific background images for each button */
.grid-container-practice > a:nth-child(1)::before {
    background-image: url(../images/englishBlue.png);
}

.grid-container-practice > a:nth-child(2)::before {
    background-image: url(../images/germanBlue.png);
}

.grid-container-practice > a:nth-child(3)::before {
    background-image: url(../images/mixBlue.png);
}

.grid-container-practice > a:nth-child(4)::before {
    background-image: url(../images/bigBrain.png);
}

.grid-container-practice > a:nth-child(5)::before {
    background-image: url(../images/coolCat.png);
}

.grid-container-practice a:hover {
    color: #000;
}

.grid-container-practice a:hover::before {
    opacity: 1;
}

.grid-container-practice a span {
    position: relative;
    z-index: 1; /* Ensure the text is above the pseudo-element */
}

/*### Practice choices English, German, Mix etc... ###*/
.practice-choices {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.practice-choices h1 {
    position: fixed;
    bottom: 50%;
    font-size: 3rem;
    text-align: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
  }

.practice-choices form{ 
    bottom: 15%;
    position: fixed;
}

.practice-choices input {
    font-size: 1.3rem;
    padding: 10px 15px;
    width: 300px;
    text-align: center;
}

/* Hides the bliking line when clicking in input field */
.practice-choices input {
    color: transparent;
    text-shadow: 0 0 0 #000000;
}

.practice-choices input::placeholder{
    font-weight: 500;
    text-align: center;
    direction: none;

}

/* When clicked on input field placeholder text opacity drops to 20% */
.practice-choices input:focus::-moz-placeholder {
    opacity: 20%;
}

/*### Practice choices English, German, Mix etc... ###*/
.edit-page {
    width: 100%; /* Ensure the edit-page takes full width of content */
    text-align: center; /* Center text content within edit-page */
}

.edit-page input {
    font-size: 1.3rem;
    padding: 10px 15px;
    width: 300px;
    text-align: center;
}

.edit-page button {
    font-size: 1rem;
    padding: 10px 15px;
    width: 200px;
    text-align: center;

    background-color: #45ad37;
    border-radius: 3px;
    transition: 0.15s ease-in-out;
    cursor: pointer;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.edit-page button:hover{
    background-color: #53cc43;
}

/* German characters at bottom of each practice page under the input field */
.characters{
    display: flex;
    justify-content: center;
    bottom: 3.5%;
    position: fixed;
}

.characters button {
    background-color: rgb(92, 171, 196);
    height: 35px;
    width: 40px;
    margin: 2px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
}

.characters > button:first-child {
    border-radius: 3px 0 0 3px;
}

.characters > button:last-child {
    border-radius: 0 3px 3px 0;
}

.characters button:hover {
    background-color: rgb(92, 171, 196, 0.7);
}