{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block pageContent%}
<div class="wordCount">
    <h1>{{ wordCount }}</h1>
    <p>Word Count</p>
</div>

<form method="POST">
    <input type="text" id="englishWord" name="englishWord" placeholder="English Word">
    <input type="text" id="germanWord" name="germanWord" placeholder="German Word">
    <button type="submit">Add / Save</button>
</form>

<h2>Words</h2>
<div class="wordList">
    <ul>
        {% for word in words %}
        <li>
            {{ word.englishWord }} - {{ word.germanWord }} 
            <button onclick="deleteWord('{{ word.id }}')">Delete</button>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
