{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block pageContent%}

<div class="grid-container-index">
    <div>
        <div class="word-count">
            <h1>{{ wordCount }}</h1>
            <p>Word Count</p>
        </div>

        <div class="search-word">
            <form method="POST">
                <input autocomplete="off" type="text" id="searchWord" name="searchWord" placeholder="Search Word">
            </form>
        </div>
    </div>

    <div>
        <div class="word-list">
            <ul>
                {% for word in words %}
                <li class="word-item">
                    <p class="english-word">{{ word.english_word }}</p>
                    <p class="german-word">{{ word.german_word }}</p>
                    <a href="/edit-word/{{ word.id }}">Edit</a>
                    <button onclick="deleteWord('{{ word.id }}')">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="add-word">
        <form method="POST">
            <input autocomplete="off" type="text" id="englishWord" name="englishWord" placeholder="English Word">
            <input autocomplete="off" type="text" id="germanWord" name="germanWord" placeholder="German Word">
            <button type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}
