{% extends "base.html" %}
{% block title %}About Page{% endblock %}

{% block pageContent%}

<div class="info-page">
    <ul>
        <li><strong>1 - 4</strong> numbers on keyboard correspond to <strong>ä, ü, ö, ß</strong> instead of numbers while on any of the practice pages, additionally shift + any of the same numbers correspond to capital variants of the same letters.</li>
        <li>When adding a new word in english box use slash to add words that have two meanings <br>[English Word 1] <strong>/</strong> [English Word 2].</li>
        <li>When adding a new word in english box use brackers to clerify if it's masculine or feminine <br>[English Word] <strong>(M)</strong>.</li>
        <li>In english section when adding new words use <strong>I (1) / You (2) / Er, Sie, Es (3)</strong> for clarity.</li>
        <li>For better experience have at least 6 words saved before doing any practice</li>
        <li>.</li>
    </ul>
</div<>

{% endblock %}
